[submodule "thirdparty/llama.cpp"]
	path = thirdparty/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "thirdparty/godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "thirdparty/sqlite"]
	path = thirdparty/sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule "thirdparty/libsql"]
	path = thirdparty/libsql
	url = https://github.com/tursodatabase/libsql.git
